1. Print cookies and milk are a great dessert.

In [5]:
print("cookies and milk are a great dessert")

cookies and milk are a great dessert

2. Print out your favorite color and above the code comment out what you are doing.

In [7]:
#I am doing Python assignment
print ("Blue is my favorite color")

Blue is my favorite color

3. Print out your favority color again and add an in-line comment.

In [8]:
print("Blue color") #sometime my favorite color is turquise

Blue color

4. Print the sumation of numbers 1 to 10

In [39]:
numb = range(1, 11) 
sum1 = sum(numb) 
print(sum1)

55

5. Print what 6 to the 7th power is.

In [11]:
print(pow(6,7))

279936

6. Print the remainder of 100 divided by 11.

In [13]:
print(100%11)

1

7. What is the result of "Python" + "1"

In [16]:
print("Python" + "1")

Python1

8. Print out 100 divided by 5

In [18]:
print(100/5)

20.0

9. What is the different between 10/4 and 10//4?  Print out the result

In [33]:
numb1 = 10
numb2 = 4
numb3 = numb1 / numb2    # 10/4
numb4 = numb1 // numb2   
print(numb3 - numb4)

0.5

10. Create a variable named foo that stores a string value.

In [34]:
foo="Today is the fist day of ITI Python Bootcamp."

11. Print foo variable

In [36]:
print(foo)

Today is the fist day of ITI Python Bootcamp.

12. Create a variable called height and store your height value there.
Print a sentence describing your height and use the variable in the sentence as well.

In [52]:
height = "5.2"
print ("I am tall", height, "feet")

I am tall 5.2 feet

13. Use the last code, but now print it using a formatted string.

In [49]:
height = "5.2"
print ("My height is", height)

My height is 5.2

14. Concate two strings together using variables and print out the result

In [54]:
name = "wiwan"
email  = "@gmail.com"
print(name+email)

wiwan@gmail.com

15. Use the two different quotes in a string and print out the sentence

In [58]:
str1 = "Hello Hola Aloha Salut Ciao"
str2 = "Sawasdee Konnichiwa Annyeonghaseyo Nihao"
print(str1, str2)

Hello Hola Aloha Salut Ciao Sawasdee Konnichiwa Annyeonghaseyo Nihao

16. Print out Hello World! 7 times each on a new line using only one line of code.

In [61]:
str = "Hello World! "
print(str*7)

Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World!

17. What is the result of "apple" > "Apple"

In [63]:
print("apple" > "Apple")

True

18. Print out if 25 multiplied by 54 is bigger than 33 multipled by 33

In [65]:
print(25*54 > 33*33)

True

19. What is the result of of 123 == “123”?

In [66]:
print(123 == "123")

False

20. Print out a boolean table for OR using two variables
(hint: use not operator)

In [78]:
a = True
b = False
print((a != b) and a)

True

21. Write a program that asks the user to enter the width and length of a room. Once the values have been read, your program should compute and display the area of the room. The length and the width will be entered as floating point numbers. Include units in your prompt and output message; either feet or meters, depending on which unit you are more comfortable working with.

In [144]:
width = float(input("Input width of a room: "))
length = float(input("Input length of a room: "))

print ("The are of the room is:", (width*length),"feet")

Input width of a room: 2
Input length of a room: 3.5
The are of this room is: 7.0 feet

22. The program that you create for this exercise will begin by reading the cost of a meal ordered at a restaurant from the user. Then your program will compute the tax and tip for the meal. Use your local tax rate when computing the amount of tax owing. Compute the tip as 18 percent of the meal amount (without the tax). The output from your program should include the tax amount, the tip amount, and the grand total for the meal including both the tax and the tip. Format the output so that all of the values are displayed using two decimal places.

In [138]:
tax = float(6/100)
tip = float(18/100)
mealP = float(input("Input meal price: "))

cost = mealP+((mealP*tax)+(mealP*tip))
print("Meal total: $",(cost))

Input meal price: 20
Meal total: $ 24.8

23. Write a program that reads a positive integer, n, from the user and then displays the sum of all of the integers from 1 to n. The sum of the first n positive integers can be computed using the formula: sum = (n)(n+1)/2

In [143]:
n = int(input("Input a number: "))
sum = (n)*(n+1)/2
print("Sum of the first", n ,"positive integers:", sum)

Input a number: 50
Sum of the first 50 positive integers: 1275.0